html {
    height: 100%;
}
body {
    background: #ff378d;
    background: linear-gradient(145deg, rgba(255,55,141,1) 0%, rgba(255,157,22,1) 100%);
    font-family: 'Saira Semi Condensed', sans-serif;
}
.time {
    width: 100%;
    position: relative;
    color: #fff;
    font-size: 2em;
}
.countdown-svg {
    height: 400px;
    width: 400px;
    fill: none;
    stroke-width: 10;
    stroke: #fff;
    stroke-linecap: round;
}