html {
    height: 100%;
}
body {
    background: rgb(255,55,141);
    background: linear-gradient(145deg, rgba(255,55,141,1) 0%, rgba(255,157,22,1) 100%);
    font-family: 'Saira Semi Condensed', sans-serif;
}
.clock {
    font-size: 6rem;
    color: #FFF;
    font-weight: lighter;
}